*{ margin: auto;

}
.clear {
  clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

/* Fonts */
/* Volkhov */
.serif {
  font-family: "Volkhov", serif;
}
/* Source */
.sans-serif {
  font-family: "Source Sans Pro", sans-serif;
}

/* Header */
@media only screen and (max-width: 991px) {
  .main-header {
    width: auto;
  }
  h1.logo {
    margin-left: -25px;
  }
  .nav__right {
    margin-right: -50px;
  }
  .nav__right .navbar {
    margin-left: -50px;
  }
  .nav__right .DarkandLight {
    margin-left: 20px;
  }
}

.main-header {
  background-color: transparent;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
}

.nav-fixed {
  padding: 0px;
  border-bottom: none;
  z-index: 99 !important;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  height: 80px;
}

.nav-fixed nav.navbar.navbar-expand-lg.stroke {
  box-shadow: none;
  border-radius: 0px;
}

.nav-fixed .navbar a.navbar-brand {
  color: #060606;
  font-size: 32px;
  padding: 0;
  position: relative;
}

.nav-fixed .navbar-brand i {
  font-size: 20px;
  position: absolute;
  top: -10px;
  left: 55px;
}

.nav-fixed .navigation i {
  color: #060606;
}

.nav-fixed .navigation i:hover {
  color: #060606;
}

.nav-fixed .nav-link i {
  color: #060606;
}

/* Logo */
.navbar {
  justify-content: space-between;
}

.navbar a.navbar-brand {
  color: #fb811e;
  font-size: 32px;
  padding: 0;
  transition: all 0.5s;
  position: relative;
}

.navbar-brand i {
  font-size: 20px;
  position: absolute;
  top: -10px;
  left: 55px;
}

a.navbar-brand:hover {
  color: black;
}
/* //Logo */

/* seach */
.navbar .search-right {
  margin: 0 10px 0 10px;
}
/* //seach */

/* search Demo 2 */
.search-right input[type="search"] {
  background: #fff url(../img/search.png) no-repeat 10px center;
  border: 1px solid #eee;
  padding: 0 10px;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

#demo-2 input[type="search"]:hover {
  background-color: #fff;
}

#demo-2 input[type="search"]:focus {
  width: 200px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
  padding-right: 15px;
}

#demo-2 input:-moz-placeholder {
  color: transparent;
}

#demo-2 input::-webkit-input-placeholder {
  color: transparent;
}

/* //search */

/*  Dark mode  */
#btnLight {
  opacity: 0;
  position: absolute;
  right: 75px;
}

.cont-ser-position {
  margin: 0 25px;
  height: 35px;
}

.navigation i {
  font-size: 22px;
  line-height: 35px;
  color: #fff;
  transition: all 0.5s;
  cursor: pointer;
}

.navigation i:hover {
  color: #fb811e;
}
/*  //Dark mode  */

/* Menu */
.nav-item {
  list-style: none;
}

.nav-link i {
  color: #fff;
  font-size: 22px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: -215px;
  display: none;
  float: left;
  min-width: 10rem;
  font-size: 1rem;
  text-align: center;
  list-style: none;
  background-color: #fff;
  box-shadow: 0 20px 62px rgba(4, 20, 69, 0.1);
  border: none;
  border-radius: 0.25rem;
}

.nav-item:checked .dropdown-menu {
  margin-top: 3px;
}

.dropdown-menu .action {
  color: #fb811e;
}

.dropdown-item {
  color: #060606;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.5s;
  padding: 10px 70px;
}

.dropdown-item:hover {
  color: #fb811e;
  background-color: transparent;
}

/* // Menu */

/* Carousel */
@media screen and (max-width: 480px) {
  .carousel-caption {
    left: 65% !important;
  }
  .w-100 {
    width: auto !important;
  }
  .mid__title {
    margin-left: 0px !important;
  }
  .banner-left-content {
    padding: 1rem;
    height: 380px;
    background-color: #fff;
    position: absolute;
    top: 180px;
    border-radius: 20px;
    margin: 0 10px;
  }
  .banner-left-content .top__title h1 {
    color: #f4f4f4;
    font-size: 60px;
    margin-top: 20px;
    margin-left: -5px;
    position: relative;
  }
  .banner-left-content .mid__title h1 {
    font-size: 25px;
    line-height: 30px;
    margin-top: 50px;
    margin-left: 25px;
  }
  .banner-left-content .mid__title p {
    font-size: 16px;
    margin-left: 25px;
  }
  .cta__carousel button {
    margin-left: 25px !important;
    margin-top: -10px;
  }
  .carousel,
  .banner-right {
    position: relative;
    margin: 0;
  }
  .carousel,
  .carousel-inner,
  .carousel-item {
    height: 100vh !important;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 991px) {
  .carousel,
  .carousel-inner,
  .carousel-item {
    height: 100vh !important;
  }
  .w-100 {
    width: auto !important;
  }
  .carousel-caption {
    left: 80% !important;
    bottom: 0 !important;
  }
  .carousel,
  .banner-right {
    position: relative;
    margin: 0;
  }
  .banner-left-content .top__title h1 {
    font-size: 80px;
  }
  .banner-left-content .mid__title h1 {
    font-size: 32px;
    line-height: 42px;
    margin-top: 30px;
    margin-left: -20px;
    width: 400px;
  }
  .banner-left-content .mid__title p {
    font-size: 17px;
    margin-left: -20px;
    width: 400px;
  }
  .cta__carousel button {
    margin-left: 150px !important;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .banner-left-content {
    left: -100px;
  }
  .banner-left-content .top__title h1 {
    font-size: 80px;
  }
  .banner-left-content .mid__title h1 {
    font-size: 32px;
    line-height: 42px;
    margin-top: 30px;
    margin-left: -20px;
    width: 400px;
  }
  .banner-left-content .mid__title p {
    font-size: 17px;
    margin-left: -20px;
    width: 400px;
  }
  .cta__carousel button {
    margin-left: 150px !important;
  }
  .carousel,
  .carousel-inner,
  .carousel-item {
    height: 100vh !important;
  }
  .w-100 {
    width: auto !important;
  }
  .carousel-caption {
    left: 70% !important;
    bottom: 0 !important;
  }
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
  .carousel,
  .carousel-inner,
  .carousel-item {
    height: 100vh !important;
  }
  .w-100 {
    width: auto !important;
  }
  .carousel-caption {
    left: 80% !important;
    bottom: 0 !important;
  }
  .banner-left-content {
    padding: 1rem;
    height: 380px;
    background-color: #fff;
    top: 180px;
    border-radius: 20px;
    margin: 0 30px;
  }
  .banner-left-content .top__title h1 {
    color: #f4f4f4;
    font-size: 80px;
    margin-top: 20px;
    margin-left: 0px;
  }
  .banner-left-content .mid__title h1 {
    font-size: 28px;
    line-height: 38px;
    margin-top: 40px;
    margin-left: -130px;
    width: 350px;
  }
  .banner-left-content .mid__title p {
    font-size: 16px;
    margin-left: -130px;
  }
  .cta__carousel button {
    margin-left: 40px !important;
    margin-top: -10px;
  }
}

.carousel,
.carousel-inner,
.carousel-item {
  height: 100vh;
}

.banner-left-content {
  position: absolute;
  z-index: 2;
}

.top__title h1 {
  font-size: 120px;
  font-weight: 600;
  color: #f4f4f4;
  margin-left: 110px;
  position: relative;
  top: -15px;
}

.mid__title {
  position: relative;
  top: -90px;
  margin-left: 175px;
}

.mid__title h1 {
  font-size: 50px;
  color: #060606;
  font-weight: 600;
}

.mid__title p {
  font-size: 20px;
  color: #707070;
  margin-top: 20px;
}

.cta__carousel button {
  padding: 15px 30px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #fb811e;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
  top: -70px;
  margin-left: 175px;
  transition: all 0.5s ease-in-out;
}

.cta__carousel button:hover {
  background-color: #009f4d;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  opacity: 1;
  margin: 0 5px;
}

.carousel-indicators .active {
  background-color: #fb811e;
}

.carousel-caption {
  right: auto;
  left: 88%;
  bottom: 0%;
  font-size: 20px;
}

.carousel-caption h5 span {
  font-size: 16px;
}

.carousel-inner {
  border-bottom-left-radius: 30px;
}

/* Service */
@media screen and (max-width: 480px) {
  .service__left h3 {
    font-size: 18px !important;
  }
  .service__left h1 {
    font-size: 30px !important;
    line-height: 40px !important;
  }
  .service__left p {
    font-size: 15px !important;
  }
  .service .service__img {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

.service__left h3 {
  color: #fb811e;
  font-size: 22px;
}

.service__left h1 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #060606;
}

.service__left p {
/* >>>>>>> quynhla */
  margin: 0;
  padding: 0;
}

.btn-service {
  background-color: #fb811e;
  color: white;
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  transition: all 0.5s ease-in-out;
}

.btn-service:hover {
  background-color: #009f4d;
}

.service__left .btn:hover {
  color: #fff;
}

.service__img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.service__img .box-wrap {
  padding: 40px 30px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 3%);
  background-color: #fff;
}

.service__img .box-wrap:hover {
  transition: 0.3s;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}

.service__img .box-wrap img {
  max-width: 65px;
  display: block;
  margin: 0 auto;
}

.service__img .box-wrap h4 a {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color: #060606;
  text-decoration: none;
}

.service__img .box-wrap h4 a:hover {
  color: #009f4d;
}

/* Catalog */
@media screen and (max-width: 480px) {
  .title__height__left h5 {
    font-size: 18px !important;
  }
  .title__height__left h3 {
    font-size: 30px !important;
    line-height: 40px !important;
  }
}

.catalog {
  background-color: #009f4d;
}

.title__catalog {
  align-items: center !important;
}

.title__height__left h5 {
  font-size: 22px;
  color: #fff;
}

.title__height__left h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #fff;
}

.title__height__right p {
  font-size: 1.25rem;
  font-weight: 300;
  color: #fff;
}

.title__bg__content {
  position: absolute;
  color: #fff;
  font-weight: bold;
  z-index: 0;
  opacity: 0.14;
  font-size: 12vw;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
}

.catalog__card {
  justify-content: center !important;
}

.card {
  border: none;
  background: none;
}

.card img {
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.img-responsive {
  max-width: 100%;
  display: block;
  border-radius: 8px;
  width: 100%;
}

.catalog__details {
  background: #fff;
  padding: 30px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
  border: 1px solid var(--border-color-light);
  border-top: none;
}

.catalog__details .catalog__tag {
  color: #009f4d;
  display: inline-block;
  background: rgb(0 159 77 / 16%);
  padding: 5px 20px;
  border-radius: 15px;
  font-weight: 600;
}

.catalog__details .catalog__heading {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #060606;
  margin: 15px 0;
  text-decoration: none;
  transition: all 0.5s;
}

.catalog__heading:hover {
  color: #009f4d;
}

.catalog__details p {
  font-size: 17px;
  line-height: 27px;
  color: #707070;
  margin: 0;
  padding: 0;
}

/* Choose us */
@media screen and (max-width: 480px) {
  .choose__top__content {
    font-size: 18px !important;
  }
  .choose__mid__content {
    font-size: 30px !important;
    line-height: 40px !important;
  }
  .choose__left p {
    font-size: 17px;
    color: #707070;
  }
  .choose__right .choose__img__info {
    left: -50px;
  }
}

.align-self {
  align-self: center;
}

.choose__top__content {
  color: #fb811e;
  font-size: 22px;
}

.choose__mid__content {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #060606;
}

.choose_info i {
  font-size: 30px;
  color: #fb811e;
  font-weight: bold;
}

.detail h4 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
}

.detail p {
  font-size: 17px;
  line-height: 27px;
  color: #707070;
}

.choose__right img {
  border-radius: 30px;
}

.choose__img__info {
  background-color: #fb811e;
  color: #fff;
  position: absolute;
  left: -85px;
  bottom: 38px;
  padding: 20px;
  box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
  min-width: 300px;
  border-radius: 0 0 100px 0;
  text-align: center;
}

.choose__img__info .img__info__title {
  font-size: 70px;
  line-height: 80px;
  color: #fff;
  font-weight: 600;
}

.choose__img__info p {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2px;
}
.h1,h2,h3,h4,h5,h6{
  font-family: 'Volkhov',serif;

}


.container {
  max-width: 1200px;

}

.row {
  padding: 10px;
}

.item1 {
  display: flex;
  justify-content: center;
  padding: 30px 20px;
  margin-top: 20px;
  border: 1px solid white;
  border-radius: 10px;

}

.item-img {
  width: 30%;
}

.item-img img {
  width: 100%;
  height: auto;
}

.item-text {
  padding: 0 20px;
}

.item-text h4 {
  font-weight: 600;
  color: black;
}

.item-text p {
  color: #707070;
  margin-top: 10px;
}

.item1:hover {
  border: 1px solid #eee;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.25s;


}

.row a:hover {
  text-decoration: none;
}

.item1:hover h4 {
  color: green;
}


@media (max-width:450px) {
  .product-text {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1em;

  }
}



.product-text h4 {
  color: #fb811e;
  font-weight: 500;
}

.product-text h2 {
  font-size: 30px;
  font-weight: 600;
}

.product-text p {
  color: #707070;
  margin-top: 20px;
}

.product-text button {
  border: none;
  background-color: #fb811e;
  color: white;
  padding: 15px 25px;
  border-radius: 30px;
  margin-top: 20px;
  font-weight: 600;
}

.product-text button:hover {
  background-color: green;
  cursor: pointer;
}

.product-img {
  position: relative;
  overflow: hidden;
  padding: 0;
}

.product-img img {
  width: 100%;
}

.product-img p {
  position: absolute;
  left: 0px;
  right: 0;
  bottom: 0;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(255 255 255 / 27%);
  padding: 10px;
  margin: 20px;
}

.product-img::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  content: '';
  opacity: 0;
  width: 50%;
  height: 100%;
  display: block;
  transform: skewX(-17deg);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
}

.product-img:hover::before {
  animation: leftright;
  animation-duration: 1s;
}

@keyframes leftright {
  100% {
    left: 125%;
  }

  100% {
    left: 125%;
    opacity: 1;
  }
}

.costomer {
  background-image: url(../img/bg1.jpg);
  position: relative;
  margin-top: 70px;
}

.costomer::before {
  content: "";
  background-color: rgb(10 10 10 / 52%);
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.costomer-content {
  max-width: 900px;
}

.costomer-slider {
  display: flex;
}

.costomer-item {
  display: flex !important;
  position: relative;
  
}

.costomer-item .costomer-item-left {
  text-align: center;
  position: relative;
  top: 20px;
}

.costomer-item-left img {
  border-radius: 100px;
  width: 90px;
  height: 90px;
  display: inline-block;
}

.costomer-item .costomer-item-left {
  color: white;
}

.costomer-item-right i {
  color: #fb811e;
  font-size: 30px;
}


.costomer-item-right q {

  font-size: 20px;
  color: white;
  display: block;
  text-indent: 20px;
  position: relative;
  padding-bottom: 50px;


}
@media (max-width:768px) {
  .costomer-item-right q {
    font-size: 17px;
    text-align: center;
  }
  
}

.costomer-item-right p::before {
  box-sizing: inherit;
}

.slick-dots li button:before {
  font-size: 13px;
  color: #8f7e58;
  opacity: 0.5;

}

.slick-dots li.slick-active button::before {
  color: #fb811e;
}

.footer p {
  color: gray;

}

.footer h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 40px;
}

.footer h3 {
  font-size: 30px;
  margin-bottom: 30px;

}

.footer a {
  color: green;
}

.footer-contact a {
  color: gray;
}

.footer-logo a {
  color: #fb811e;
}

.footer-logo a:hover {
  color: black;
}

.footer-logo a {
  font-weight: 400;
  font-size: 30px;
}

.footer-logo a i {
  position: absolute;
    left: 70px;
    top: -7px;
    font-size: 20px;
}

.footer-space {
  margin-bottom: 40px;
}

.footer-input {
  margin-bottom: 20px;
}

.footer-input input {
  width: 80%;
  border: 1px solid #f4f4f4;
  padding: 10px 25px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #f4f4f4;
  color: #707070;

}

.footer-input button {
  width: 20%;
  background-color: green;
  border: 1px solid gray;
  padding: 10px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

}

.footer-input button:hover {
  opacity: 0.75;

}

.footer-input i {
  color: white;

}

.icon {
  padding-top: 10px;
}

.icon ul {
  list-style: none;
  text-decoration: none;
}

.icon ul li {
  display: inline-block;
}

.icon a {
  width: 30px;
  height: 30px;
  background-color: #ebfaf1;
  border-radius: 50%;
  display: flex;
  text-align: center;
  margin-right: 10px;
  color: #009f4d;
}

.icon a i {
  font-size: 15px;

}

.icon a:hover {
  color: #fb811e;
  background-color: #fff5dc;
  box-shadow: 0 3px 5px 0 rgb(10 10 10 / 24%);
  transition: all 0.5s;
}

.backtotop {
  background-color: green;
  border-radius: 5px;
  position: fixed;
  right: 20px;
  bottom: 50px;
  visibility: hidden;
}

.backtotop i {
  padding: 15px;
  font-size: 15px;
  color: white;

}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: .5;
}