
/* Clear */
.clear {
    clear: both;
}


/* Fonts */
/* Volkhov */
.serif {
    font-family: 'Volkhov', serif;
}
/* Source */
.sans-serif {
    font-family: 'Source Sans Pro', sans-serif;
}

/* Header */



/* Logo */
.navbar {
    justify-content: space-between;
}

.navbar a.navbar-brand {
    color: #fb811e;
    font-size: 30px;
    font-weight: 700;
    transition: all .5s;
}

.navbar-brand i {
    font-size: 20px;
    position: absolute;
    top: 5px;
    left: 68px;
}

a.navbar-brand:hover {
    color: black;
}
/* //Logo */

/* Search button */
.search-right input[type=search] {
    background: #fff url(../img/search.png) no-repeat 10px center;
    border: 1px solid #eee;
    padding: 0 10px;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    transition: all .5s;
    cursor: pointer;
}
/* //Search button */


/*  Dark mode  */
.cont-ser-position {
    margin: 0 25px;
    height: 35px;
}

.navigation i {
    font-size: 22px;
    line-height: 35px;
    color: #fff;
    transition: all .5s;
    cursor: pointer;
}

.navigation i:hover {
    color: #fb811e;
}
/*  //Dark mode  */

/* Menu */
.nav-item {
    list-style: none;
}

.nav-link i {
    color: #fff;
    font-size: 22px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -215px;
    display: none;
    float: left;
    min-width: 10rem;
    font-size: 1rem;
    text-align: center;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 20px 62px rgba(4, 20, 69, .1);
    border: none;
    border-radius: .25rem;
}


.nav-item:checked .dropdown-menu {
    margin-top: 3px;
}


.dropdown-menu .action {
    color: #fb811e;
}

.dropdown-item {
    color: #060606;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s;
    padding: 10px 70px;
}

.dropdown-item:hover {
    color: #fb811e;
    background-color: transparent;
}


/* // Menu */

/* Carousel */
.carousel, .carousel-inner, .carousel-item {
    height: 100vh;
}

.banner-left-content {
    position: absolute;
    z-index: 2;
}

.top__title h1 {
    font-size: 120px;
    font-weight: 600;
    color: #f4f4f4;
    margin-left: 110px;
    position: relative;
    top: -15px;
}

.mid__title {
    position: relative;
    top: -90px;
    left: 175px;
}

.mid__title h1 {
    font-size: 50px;
    color: #060606;
    font-weight: 600;
}

.mid__title p {
    font-size: 20px;
    color: #707070;
    margin-top: 20px;
}

.cta__carousel button {
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #fb811e;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .5s;
    position: relative;
    top: -70px;
    left: 175px;
    transition: all .5s ease-in-out;
}

.cta__carousel button:hover {
    background-color: #009f4d;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    opacity: 1;
    margin: 0 5px;
}

.carousel-indicators .active {
    background-color: #fb811e;
}

.carousel-caption {
    right: auto;
    left: 88%;
    bottom: 5%;
    font-size: 20px;
}

.carousel-caption h5 span {
    font-size: 16px;
}

.carousel-inner {
    border-bottom-left-radius: 30px;
}

/* Service */
.service__left h3 {
    color: #fb811e;
    font-size: 22px;
}

.service__left h1 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: #060606;
}

.service__left p {
    margin: 0;
    padding: 0;
}

.btn-service {
    background-color: #fb811e;
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    transition: all .5s ease-in-out;
}

.btn-service:hover {
    background-color: #009f4d;
}

.service__left .btn:hover {
    color: #fff;
}

.service__img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.service__img .box-wrap {
    padding: 40px 30px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 3%);
    background-color: #fff;
}

.service__img .box-wrap:hover {
    transition: .3s;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}

.service__img .box-wrap img {
    max-width: 65px;
    display: block;
    margin: 0 auto;
}

.service__img .box-wrap h4 a {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 25px;
    display: block;
    color: var(--heading-color);
    text-decoration: none;
}

.service__img .box-wrap h4 a:hover {
    color: #009f4d;
}

/* Catalog */
.catalog {
    background-color: #009f4d;
}

.title__catalog {
    align-items: center !important;
}

.title__height__left h5 {
    font-size: 22px;
    color: #fff;
}

.title__height__left h3 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: #fff;
}

.title__height__right p {
    font-size: 1.25rem;
    font-weight: 300;
    color: #fff;
}

.title__bg__content {
    position: absolute;
    color: #fff;
    font-weight: bold;
    z-index: 0;
    opacity: .14;
    font-size: 12vw;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
}

.catalog__card {
    justify-content: center !important;
}

.card {
    border: none;
    background: none;
}

.card img {
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.img-responsive {
    max-width: 100%;
    display: block;
    border-radius: 8px;
    width: 100%;
}

.catalog__details {
    background: #fff;
    padding: 30px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
    border: 1px solid var(--border-color-light);
    border-top: none;
}

.catalog__details .catalog__tag {
    color: #009f4d;
    display: inline-block;
    background: rgb(0 159 77 / 16%);
    padding: 5px 20px;
    border-radius: 15px;
    font-weight: 600;
}

.catalog__details .catalog__heading {
    display: block;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: #060606;
    margin: 15px 0;
    text-decoration: none;
    transition: all .5s;
}

.catalog__heading:hover {
    color: #009f4d;
}

.catalog__details p {
    font-size: 17px;
    line-height: 27px;
    color: #707070;
    margin: 0;
    padding: 0;
}

/* Choose us */
.align-self {
    align-self: center;
}

.choose__top__content {
    color: #fb811e;
    font-size: 22px;
}

.choose__mid__content {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: #060606;
}

.choose_info i {
    font-size: 30px;
    color: #fb811e;
    font-weight: bold;
}

.detail h4 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
}

.detail p {
    font-size: 17px;
    line-height: 27px;
    color: #707070;
}

.choose__right img {
    border-radius: 30px;
}

.choose__img__info {
    background-color: #fb811e;
    color: #fff;
    position: absolute;
    left: -85px;
    bottom: 38px;
    padding: 20px;
    box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
    min-width: 300px;
    border-radius: 0 0 100px 0;
    text-align: center;
}

.choose__img__info
.img__info__title {
    font-size: 70px;
    line-height: 80px;
    color: #fff;
    font-weight: 600;
}

.choose__img__info p {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .2px;
}